nav.navbar {
    margin-bottom: 0;
}
.nav-link {
    color: #f7f6f6 !important;
    font-size: 18px;
    font-family: 'Spectral SC', serif;
    font-weight: 900;
    text-shadow: 1px 2px #242424;
    background-color: #887f75;
}
.nav-tabs {
    border-bottom: transparent;
}